body, #content {
    min-height: 100vh;
    width: 100vw;
  }

input[type=search] {
    border-radius: 30px;
    z-index: 0;
    padding-right: 2.6em;
}

#search-btn {
    z-index: 1;
    margin-left: -2.6em;
    background: transparent;
    border: none;
    color: rgb(173, 173, 173);
}

#search-btn :hover {
    color: rgb(112, 112, 112);
}

form .form-control:focus {
    background-color: #eeeeeefb;
    border-color: #CCC;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#navbar, #about, #view-acc {
    padding: 0 5%;
}

#options {
    margin-top: 10%;
}

.option {
    width: 420px;
    height: 210px;
    padding: 25px;
}

h5 {
    font-size: 18px !important;
}

#user-threads {
    margin-top: 35px;
}
