<h1>About</h1>
<p>
    Chat-app is an application where it's users can have connect through shared interests, have debates and learn. 
    By creating an account you'll be able to start discussions, pin the ones you are interested in and write replies.
    However, an account isn't necessary if you are only intending on reading discussions and aren't interested in the additional features.
    Please keep discussions to their respective topics and remain respectful towards other users. Bullying, harassment and threats of violence are forbidden.
    Threads and replies may be removed if they violate these guidelines.
</p>
<a href="/">Back</a>