<a href="/">Front page</a> | <a href="/logout">Log Out</a><br>

{% if add == 'thread' %}
    <form action="/start_thread", method="POST">
        Title:<br>
        <input type="text" name="title" minlength="1" maxlength="20"><br>

{% elif add == 'reply' %}
    <form action="/reply/{{ category }}/{{ thread_id }}/{{ order_by }}/{{ limit }}/{{ reply_to }}/{{ msg_id }}", 
    method="POST">
        Reply to:<br>
        {{ message[0] }} | {{ message[2].strftime("%d-%m-%Y %H:%M") }}<br>
        {% if reply_to == 'thread' %}
            {{ message[3] }}<br>
        {% endif %}
        {{ message[1] }}<br>
{% endif %}

    Message:<br>
    <textarea name="message" maxlength="10000"></textarea><br>

    {% if add == 'thread' %}
        {% if topic %}
            <input type="hidden" name="topic" value="{{ topics_data }};{{ topic }}">
        {% else %}
            Choose a topic:<br>
            {% for tpc in topics_data %}
                <input type="radio" name="topic" value="{{ tpc[0] }};{{ tpc[1] }}">{{ tpc[1] }}<br>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Start">

    {% elif add == 'reply' %}
        <input type="submit" value="Reply">
    {% endif %}
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
