<a href="/">Front page</a> | <a href="/logout">Log Out</a><br>

{% if add == 'thread' %}
    <form action="/start_thread", method="POST">
        Title:<br>
        <input type="text" name="title" minlength="1" maxlength="20"><br>
{% elif add == 'message' %}
    <form action="/add_message/{{ parent_msg_id }}", method="POST">
{% endif %}

    Message:<br>
    <textarea name="message" maxlength="10000"></textarea><br>

    {% if add == 'thread' %}
        Choose a topic:<br>
        {% for tpc in topics %}
            <input type="radio" name="topic" value="{{ tpc[0] }}">{{ tpc[1] }}<br>
        {% endfor %}
        <input type="submit" value="Start">
    {% elif add == 'message' %}
        <input type="submit" value="Send">
    {% endif %}
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
