{% extends 'layout.html' %}
{% block body %}
<div id="sidebar">
    {% if shown_tpcs %}
    <a href="/start_thread/">
        Start a thread <i class="fa-solid fa-pen" aria-hidden="true"></i>
    </a>
    {% else %} No topics to start a thread under.
    {% endif %}<br>

    <a href="/threads/all/most_recent/25">All</a><br>
    
    Topics:<br>
    {% if not shown_tpcs %} 
    No topics.<br>
    {% if is_admin %} 
    <a href="/add_topic">Add a topic</a><br>
    {% endif %}

    {% else %}
    {% for topic in shown_tpcs %}
    <a href="/threads/{{ topic[1] }}/most_recent/25">{{ topic[1] }}</a><br>
    {% endfor %}

    {% if listed_tpcs %} 
    <div class="dropdown">
        <button class="drop_button">More</button>
        <div class="drop_content">
            {% for topic in listed_tpcs %}
            <a href="/threads/{{ topic[1] }}/most_recent/25">{{ topic[1] }}</a><br>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if is_admin %}
    <a href="/add_topic">Add a topic</a> | <a href="/remove_topic">Remove topics</a><br>
    {% endif %}
    {% endif %}

    {% if session.user_id %}
    {{ session.username }}
    <a href="/threads/pinned/most_recent/25">Pinned</a><br>
    <a href="/threads/user/most_recent/25">My threads</a><br>
    <a href="/threads/commented/most_recent/25">Threads I've participated in</a>
    <a href="/user_settings">My account</a>
    {% endif %}
</div><br>
{% endblock %}
