<a href="/">Front page</a> | 
{% if session.user_id %}
    <a href="/logout">Log Out</a><br>
{% else %}
    <a href="/login">Log In</a><br>
{% endif %}

{{ category }}<br>
{% if category == 'all' or category == 'search' %}
    <a href="/start_thread">Start a thread</a><br>
{% elif category != 'pinned' %}
    <a href="/start_thread/{{ category }}">Start a thread under {{ category }}</a><br>
{% endif %}

Sort by:

{% if category == 'pinned' %}
    <a href="/threads/{{ category }}/newest_pin/25">Newly pinned</a> | 
    <a href="/threads/{{ category }}/oldest_pin/25">Oldest pinned</a> |
{% endif %}

<a href="/threads/{{ category }}/most_recent/25">Most recent</a> | 
<a href="/threads/{{ category }}/oldest/25">Oldest</a> | 
<a href="/threads/{{ category }}/most_replies/25">Most replies</a><br>

{% for thread in threads %}
    <div id="{{ thread[3] }}">
        {{ thread[1] }} | {{ thread[5].strftime("%d-%m-%Y %H:%M") }}<br>
        <a href="/thread/{{ category }}/{{ thread[3] }}/most_recent/25">{{ thread[2] }}</a><br>
        {{ thread[4] }}<br>
        messages {{ thread[6] }}<br>


        {% if session.user_id %}

            <button onclick="pinThread('{{ thread[3] }}', 'pin_{{ thread[3] }}')">
            {% if thread[8] %}
                <i class="fa-solid fa-thumbtack" data-is-pinned='true' 
                   style="color: #1c1c1c;" id="pin_{{ thread[3] }}"></i>
            {% else %}
                <i class="fa-solid fa-thumbtack" data-is-pinned='false' 
                   style="color: #9e9e9e;" id="pin_{{ thread[3] }}"></i>
            {% endif %}
            </button>

            {% if thread[0] == session.user_id or is_admin %}
                <a href="/confirmation/delete_message/{{ thread[9] }}/threads;{{ category }};{{ order_by }};25">Remove</a><br>
            {% endif %}
        {% endif %}
    </div>
    <hr>
{% endfor %}

{% if thrds_left %}
    <a href="/threads/{{ category }}/{{ order_by }}/{{ limit+25 }}/{{ threads[-1][3] }}">
    Load more
    </a>
{% endif %}


{% if scroll_to %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.location.hash = '#{{ scroll_to }}';
        });
    </script>
{% endif %}

<script>
    function pinThread(thread_id, pin_id) {
        let target = document.getElementById(pin_id);
        let pinned = target.dataset.isPinned === 'true';

        let action = null;
        if (pinned) {
            action = 'remove';
        } else {
            action = 'add';
        }

        fetch(`/pin/${thread_id}/${action}`)
        .then(response => response.json()) 
        .then(data => console.log(data)) 
        .catch(error => console.error(error));

        if (action == 'add') {
            target.style.color = '#1c1c1c';
        } else if (action == 'remove') {
            target.style.color = '#9e9e9e';
        }
        target.dataset.isPinned = `${!pinned}`;
    }
</script>

<script src="https://kit.fontawesome.com/4c9a1b3eaf.js" crossorigin="anonymous"></script>