<a href="/">Front page</a> | 
{% if session.user_id %}
    <a href="/logout">Log Out</a><br>
{% else %}
    <a href="/login">Log In</a><br>
{% endif %}

<div>
    {{ thread[1] }} | {{ thread[5].strftime("%d-%m-%Y %H:%M") }}<br>
    {{ thread[2] }}<br>
    {{ thread[4] }}<br>
    <a href="/reply/{{ topic }}/{{ thread_id }}/{{ order_by }}/{{ limit }}/thread/{{ thread[3] }}">
        reply
    </a> | messages {{ thread[6] }}<br>

    {% if session.user_id %}

    <button onclick="pinThread('{{ thread_id }}', 'pin_{{ thread_id }}')">
        {% if thread[7] %}
            <i class="fa-solid fa-thumbtack" data-is-pinned='true' 
               style="color: #1c1c1c;" id="pin_{{ thread_id }}"></i>
        {% else %}
            <i class="fa-solid fa-thumbtack" data-is-pinned='false' 
               style="color: #9e9e9e;" id="pin_{{ thread_id }}"></i>
        {% endif %}
        </button>

        {% if thread[0] == session.user_id or is_admin %}
            <a href="/remove_thread">Remove</a><br>
        {% endif %}
        
    {% endif %}
</div>
<hr>

Sort by:
<a href="/topic/{{ topic }}/thread/{{ thread_id }}/most_recent/25">Most recent</a> | 
<a href="/topic/{{ topic }}/thread/{{ thread_id }}/oldest/25">Oldest</a> | 
<a href="/topic/{{ topic }}/thread/{{ thread_id }}/most_replies/25">Most replies</a><br>



{% for reply in replies %}
    <div id="{{ reply[2] }}">

        {% if reply[9] != thread[3] %}
            <div class="reply_to" style="border: 2px solid black">
                {{ reply[6] }} | {{ reply[8].strftime("%d-%m-%Y %H:%M") }}<br>
                {{ reply[7] }}<br>
            </div>
        {% endif %}

        {{ reply[1] }} | {{ reply[4].strftime("%d-%m-%Y %H:%M") }}<br>
        {{ reply[3] }}<br>

        <a href="/reply/{{ topic }}/{{ thread_id }}/{{ order_by }}/{{ limit }}/comment/{{ reply[2] }}">
            reply
        </a> {{ reply[5] }}<br>

        {% if session.user_id %}
            {% if reply[0] == session.user_id or is_admin %}
                <a href="/remove_reply">Remove</a><br>
            {% endif %}
        {% endif %}
        <hr>
    </div>
{% endfor %}


{% if replies_left %}
    <a href="/topic/{{ topic }}/thread/{{ thread_id }}/{{ order_by }}/{{ limit+25 }}/{{ replies[-1][2] }}">
        Load more
    </a>
{% endif %}

{% if scroll_to %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.location.hash = '#{{ scroll_to }}';
        });
    </script>
{% endif %}

<script>
    function pinThread(thread_id, pin_id) {
        let target = document.getElementById(pin_id);
        let pinned = target.dataset.isPinned === 'true';

        let action = null;
        if (pinned) {
            action = 'remove';
        } else {
            action = 'add';
        }

        fetch(`/pin/${thread_id}/${action}`)
        .then(response => response.json()) 
        .then(data => console.log(data)) 
        .catch(error => console.error(error));

        if (action == 'add') {
            target.style.color = '#1c1c1c';
        } else if (action == 'remove') {
            target.style.color = '#9e9e9e';
        }
        target.dataset.isPinned = `${!pinned}`;
    }
</script>

<script src="https://kit.fontawesome.com/4c9a1b3eaf.js" crossorigin="anonymous"></script>
